.people-grid {
  padding: 20px;
}

.person-grid-item-link {
  text-decoration: none;
  color: inherit;
}

.person-card {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.person-card:hover {
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.2);
}

@media (max-width: 600px) {
  .person-card {
      padding: 10px;
  }
}
