.full-height {
  height: 100vh;
}

.product-page {
  padding: 20px;
  max-width: 100%;
  margin: auto;
  background-color: #f0f0f0;
  background: linear-gradient(to bottom, #0d1d31, #0c0d13);
}

.product-grid {
  margin: 0 auto;
}

.productCardLink {
  text-decoration: none;
}

.productCard {
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  background-color: rgba(227, 0, 0, 0.5); /* Transparan kırmızı */
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  position: relative;
}

.productCard::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: #3f51b5;
  z-index: -1;
  transform: rotate(45deg);
  transition: all 0.5s ease-in-out;
}

.productCard:hover {
  color: #FFFFFF;
  transform: scale(1.05);
}

.productCard:hover::before {
  top: -30%;
  left: -30%;
}

.product-name {
  margin-bottom: 10px;
  font-weight: bold;
}

.product-details {
  font-weight: lighter;
}
