.profile-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background: linear-gradient(to bottom, #0d1d31, #0c0d13);
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  }
  
  .profile-container h1,
  .profile-container p {
    margin-bottom: 20px;
  }
  
  @media (max-width: 600px) {
    .profile-container {
      padding: 10px;
    }
  
    .profile-container h1 {
      font-size: 24px;
    }
  
    .profile-container p {
      font-size: 16px;
    }
  }
  